<div class="section">
  <div class="flex space-x-1 mt-2">
    <a href="{{ pageData.linkedIn.href }}" class="section-link">{{ pageData.linkedIn.title }}</a>
    <p> | </p>
    <a href="{{ pageData.gitHub.href }}" class="section-link">{{ pageData.gitHub.title }}</a>
  </div>
  <div class="experience">
        <div class="experience-section">
          <h1 class="experience-title">
            {{ pageData.moodys.jobTitle }}
            <a href="{{ pageData.moodys.href }}" class="experience-link">
              {{ pageData.moodys.companyTitle }}
            </a>
          </h1>
          <h2 class="experience-header">{{ pageData.moodys.duration }}</h2>
          <p class="experience-body">{{ pageData.moodys.description }}</p>
        </div>
        <div class="experience-section">
          <h1 class="experience-title">
            {{ pageData.slalom.jobTitle }}
            <a href="{{ pageData.slalom.href }}" class="experience-link">
              {{ pageData.slalom.companyTitle }}
            </a>
          </h1>
          <h2 class="experience-header">{{ pageData.slalom.duration }}</h2>
          <p class="experience-body">{{ pageData.slalom.description }}</p>
        </div>
    <h1 class="experience-title">{{ pageData.certifications.title }}</h1>
      <div class="experience-section">
        <h1 class="experience-title">
          <a class="experience-link" href="{{ pageData.certifications.href }}">{{ pageData.certifications.certTitle }}</a>
        </h1>
        <h2 class="experience-header">{{ pageData.certifications.duration }}</h2>
        <p class="experience-body">{{ pageData.certifications.description }}</p>
      </div>
  </div>
  <div class="experience">
    <div class="experience-title">{{ pageData.projects.title }}</div>
    <div class="experience-section">
      <h1 class="experience-title">
        {{ pageData.projects.dkmsProjectTitle }}
        <a class="experience-link" href="{{ pageData.projects.dkmsLink }}">
          {{ pageData.projects.dkmsTitle }}
        </a>
      </h1>
      <h2 class="experience-header">{{ pageData.projects.dkmsDuration }}</h2>
      <p class="experience-body">{{ pageData.projects.dkmsDescription }}</p>
      <p class="experience-body">{{ pageData.projects.dkmsTechnologies }} </p>
    </div>
  </div>
  <div class="skills">
    <div class="skills-title">{{ pageData.skills.title }}</div>
    <div *ngFor="let skill of pageData.skills.skillsList" class="skills-item">
      <div class="skills-item-title">{{ skill.title }}</div>
      <div class="skills-item-list">{{  skill.skills }}</div>
    </div>
  </div>
</div>
